
* {
    font-family: courier;
}

body {
    background: #EEE;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

#manual {
    max-width: 20cm;
    margin: auto;
}

div.section {
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.puzzle-section a {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.puzzle-section h3 {
    text-align: center;
}

.puzzle-section p.intro {
    font-style: italic;
}

.puzzle-section table {
    border-collapse: collapse;
    max-width: 90%;
    margin: auto;
}

ol li:nth-child(odd) {
    background: #EEE;
}

.puzzle-section tr:nth-child(odd) {
    background: #EEE;
}

.puzzle-section th {
    background: #CCC;
    font-weight: bold;
}

.puzzle-section th, .puzzle-section td {
    text-align: left;
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
}

div.network-diagrams {
    text-align: center;
}

div.network-diagram {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0px;
    min-width: 30%;
    background-color: #CCC;
}

.network-diagram span.ip {
    display: block;
    font-style: italic;
}

.network-diagram pre {
    background-color: #EEE;
    text-align: center;
    margin-top: 1px;
}

.network-diagram span.node {
    color: #AAA;
}

.network-diagram span.firewall {
    color: #C11;
}

.network-diagram span.src {
    color: #1C1;
}

.network-diagram span.dst {
    color: #11C;
}

.network-diagram span.gateway {
    color: #990;
}

div.minehunt-diagrams {
    text-align: center;
}

.minehunt-diagrams h4 {
    display: block;
}

div.minehunt-diagram {
    display: inline-block;
    min-width: 45%;
}

.minehunt-diagram td {
    background-color: #DDD;
    margin: 1px;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
}

.minehunt-diagram div.bomb {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;
}

.minehunt-diagram div.finish {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;
}

.minehunt-diagram span.count {
    display: block;
    font-style: italic;
}
