
* {
    font-family: courier;
}

body {
    background: #EEE;
}

#manual {
    max-width: 20cm;
    margin: auto;
}

div.puzzle-section {
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.puzzle-section h3 {
    text-align: center;
}

.puzzle-section p.intro {
    font-style: italic;
}

.puzzle-section table {
    border-collapse: collapse;
    max-width: 90%;
    margin: auto;
}

ol li:nth-child(odd) {
    background: #EEE;
}

.puzzle-section tr:nth-child(odd) {
    background: #EEE;
}

.puzzle-section th {
    background: #CCC;
    font-weight: bold;
}

.puzzle-section th, .puzzle-section td {
    text-align: left;
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
}

div.network-diagrams {
    text-align: center;
}

div.network-diagram {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0px;
    min-width: 30%;
    background-color: #CCC;
}

.network-diagram span.ip {
    display: block;
    font-style: italic;
}

.network-diagram pre {
    background-color: #EEE;
    text-align: center;
    margin-top: 1px;
}

.network-diagram span.node {
    color: #AAA;
}

.network-diagram span.firewall {
    color: #C11;
}

.network-diagram span.src {
    color: #1C1;
}

.network-diagram span.dst {
    color: #11C;
}

.network-diagram span.gateway {
    color: #990;
}
