
* {
    font-family: courier;
}

body {
    background: #EEE;
}

img {
    display: block;
    margin: auto;
}

.command {
    font-style: italic;
}

table.alternate tr:nth-child(odd), ol.alternate li:nth-child(odd) {
    background: #EEE;
}

table.alternate th {
    background: #CCC;
    font-weight: bold;
}

table.alternate th, table.alternate td {
    text-align: left;
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
}

a:link {
    text-decoration: none;
    color: #444;
}

a:hover {
    font-weight: bold;
    color: #444;
}

a:visited {
    color: #444;
}

#manual {
    max-width: 20cm;
    margin: auto;
}

div.section {
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.section em {
    font-weight: bold;
}

.puzzle-section a {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.puzzle-section h3 {
    text-align: center;
}

.puzzle-section p.intro {
    font-style: italic;
}

.puzzle-section table {
    border-collapse: collapse;
    max-width: 90%;
    margin: auto;
}

div.network-diagrams {
    text-align: center;
}

div.network-diagram {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0px;
    min-width: 30%;
    background-color: #CCC;
}

.network-diagram span.ip {
    display: block;
    font-style: italic;
}

.network-diagram pre {
    background-color: #EEE;
    text-align: center;
    margin-top: 1px;
}

.network-diagram span.node {
    color: #AAA;
}

.network-diagram span.firewall {
    color: #C11;
}

.network-diagram span.src {
    color: #1C1;
}

.network-diagram span.dst {
    color: #11C;
}

.network-diagram span.gateway {
    color: #990;
}

div.minehunt-diagrams {
    text-align: center;
}

div.minehunt-diagram {
    display: inline-block;
    margin-top: 10px;
    min-width: 40%;
}

.minehunt-diagram td, td.minehunt-diagram {
    background-color: #DDD;
    border: 1px solid;
    margin: 1px;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
}

.minehunt-diagram div.bomb {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;
}

.minehunt-diagram div.finish {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;
}

.minehunt-diagram span.count {
    display: block;
    font-style: italic;
}

.minehunt-diagram span.time {
    display: block;
    font-style: italic;
}

.minehunt-diagram span.time em {
    font-style: bold;
}

#minehunt-key td {
    border: 1px solid;
    padding: 2px;
}

div.resistor {
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #e5e5cb;
}

.resistor div {
    width: 6px;
    height: 1em;
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
}

.resistor div.red {
    background-color: red;
}

.resistor div.yellow {
    background-color: yellow;
}

.resistor div.green {
    background-color: green;
}

.resistor div.blue {
    background-color: blue;
}

.resistor div.black {
    background-color: black;
}
